/* body {
    background-color: white;
  } */

div.tab {
    overflow: hidden;
    display: block;
    border-bottom: 3px solid #F4F1DE;
}

button.tablinks {
  background-color:white;
  color: #0A090C;
}

button.tablinks:hover {
  background-color: #F4F1DE;
  color: #A5086B;
  /* border: 3px solid #FF6978;
  margin: -3px;   */
}

button {
        background-color: #A5086B;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: inherit;
}

button:hover {
  color: #F4F1DE;
}

h4#covid-banner {
  color:#0A090C;
}

h3 {
  color: #A5086B;
  font-weight: 700;
}

button.important-buttons {
  font-weight: 700;
  font-size: 24px;
  /* margin: 12px; */
}

button.important-buttons:hover {
  background-color: #F4F1DE;
  color: #A5086B;
  border: 3px solid #A5086B;
  margin: -3px;
}

i {
  font-size: 200%;
  padding-right:inherit;
}

/* body */

section.header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #F4E1E6;
}

div.COVID {
  display: grid;
  grid-template-columns: repeat(3,1.2fr);
  grid-auto-rows: 45%;
  column-gap: 20px;
  row-gap: 20px;
}

div.grid-container {
  display: block;
  margin: 20px auto;
    max-width: 100%;
    /* flex-direction: row; */
}

@media (max-width: 800px) {
  div.grid-container {
    flex-direction: column;
  }
}

/* grid-container > section {
    flex: 1 1 auto;
    padding: 12px;
    width: 100%;
    flex-direction: column;
} */

section.important-buttons {
  display: grid;
  grid-template-columns: repeat(3,1.2fr);
  grid-auto-rows: 45%;
  column-gap: 20px;
  row-gap: 20px;
  /* flex: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px; */
}


section.news {
    padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 50%;
}

section.checkStatus {
  display: grid;
  grid-template-columns: repeat(3,1.2fr);
  grid-auto-rows: 45%;
  column-gap: 20px;
  row-gap: 20px;
}


/* end of body */


/* footer */
footer {
    background-color: grey;
    display: block;
}

div.menu-footer {
  display: flex;
}

section.menu-flex {
  display: flex;
  flex-direction: column;
  flex: 40%;
  margin: 12px;
}

a {
  font-family: inherit;
  text-decoration: none;
  padding-right: 6px;
  padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 6px;
  display: block;
}

a:link {
  color: #F4F1DE;
}

a:hover {
  overflow: hidden;
  border: 3px solid #FF6978;
  /* background-color: #0A090C; */
  margin: -3px;
}

li {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

ul {
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
}



/* button.menu-footer-button {
  margin: 8px; */
