body {
    background-color: white;
  }

p {
    color: black;
  }
div.tab {
    overflow: hidden;
  background-color: #A5086B;
}

button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}

section.header {
    display: block;
    background-color: #e7e7e7;
}

div#home section {
    background-color: lightblue;
}

section.importantButtons {
    float: left;
    width: 200px;
  height: 300px;
  background-color: #F09A9D;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

section.news {
    display: inline-block;
    width: 200px;
  height: 300px;
    padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
    background-color: lightgray;
}